<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing ebay E-Commerce website">
    <test name="Regression">
         <classes>
             <class name="com.testNg.AnnotationWithSelenium"/>
             <class name="com.testNg.AssertinsFeature"/>
             <class name="com.testNg.dependencykeyword"/>
              <class name="com.testNg.expectedExceptionFeature"/>
               <class name="com.testNg.groupskeyword"/>
                <class name="com.testNg.InvocationCountFeature"/>
                 <class name="com.testNg.priortyKeyword"/>
                  <class name="com.testNg.TestNGAnnotations"/>
             
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->